{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<style>
    .profile-section {
 display: flex;
 align-items: flex-start;
 gap: 20px;
}

.profile-image {
 flex: 0 0 150px;
}

.profile-image img {
 width: 150px;
 height: 150px;
 object-fit: cover;
 border-radius: 50%;
}

.profile-info {
 flex: 1;
}

.form-group {
 margin-bottom: 15px;
}

.form-control {
 display: block;
 width: 100%;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.5;
 color: #495057;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #ced4da;
 border-radius: 4px;
 transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:disabled {
 background-color: #e9ecef;
 opacity: 1;
}

.edit-profile {
 margin-top: 15px;
}

@media (max-width: 767px) {
 .profile-section {
     flex-direction: column;
     align-items: center;
 }

 .profile-image {
     margin-bottom: 20px;
 }
}

 </style>
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Головна</a>
                    <span></span> Сторінки <span></span> Мій обліковий запис
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>Профіль</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'userauths:sign-out' %}"><i class="fi-rs-sign-out mr-10"></i>Вийти</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                                <h3 class="mb-0">Оновити профіль</h3>
                                            </div>
                                            {% if form.errors %}
                                            <div class="alert-danger alert">
                                                <strong>{{ form.errors }}</strong>
                                            </div>
                                            {% endif %}
                                            <div class="card-body mb-2" style="display: flex; align-items: center; gap: 10px;">
                                                <div>
                                                    <span><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" class="profile-image" alt=""></span>
                                                </div>
                                                <div>
                                                    <form action="" method="POST" enctype="multipart/form-data"> 
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            {{form.full_name}}
                                                        </div>
                                                        <div class="mb-3">
                                                            {{form.bio}}
                                                        </div>
                                                        <div class="mb-3">
                                                            {{form.phone}}
                                                        </div>
                                                        <div class="mb-3">
                                                            {{form.image}}
                                                        </div>
                                                        <button class="btn btn-success" type="submit">Зберегти зміни</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
